@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Exo 2", "", "sans-serif";
  color: #fff;
  background-color: #5F5F5F;
  font-size: 13px;
}
body button {
  font-family: "Exo 2", "", "sans-serif";
}
body a {
  color: #5076FF;
  text-decoration: none;
}
body a:visited {
  color: #5076FF;
  text-decoration: none;
}
body ul {
  list-style: none;
}
body header {
  min-height: 8svh;
  padding: 20px;
  background-color: #4E4E4E;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: clip;
}
body svg {
  fill: #fff;
}
body main {
  margin-top: 10px;
  min-height: 55svh;
}
body footer {
  background-color: #313131;
  text-align: center;
  padding: 10px;
  min-height: 10svh;
}
body footer li, body footer h2, body footer h3 {
  padding: 10px;
}
body footer ul {
  display: flex;
  justify-content: space-around;
}
body footer ul li a {
  color: #fff;
}
body footer ul li a:visited {
  color: #fff;
}
body footer ul#social-links {
  position: relative;
}
body footer ul#social-links::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 90vw;
  height: 2px;
  background-color: #fff;
}
body footer ul#social-links li {
  transition: 0.4s ease-in-out;
}
body footer ul#social-links li:hover {
  transform: scale(1.1);
}
body footer ul#footer-nav {
  font-size: 1.1rem;
  font-weight: 600;
}
body footer > p:nth-of-type(1) {
  font-weight: 100;
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg) rotateX(-5deg) translateY(5px);
  }
  50% {
    transform: rotateY(180deg) rotateX(5deg) translateY(-5px);
  }
  100% {
    transform: rotateY(0deg) rotateX(-5deg) translateY(5px);
  }
}
/*Header*/
header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
header h1 div#cube {
  position: relative;
  transform-style: preserve-3d;
  width: 50px;
  height: 50px;
  animation: rotate 10s linear infinite;
}
header h1 div#cube div.side {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
header h1 div#cube div.side p {
  cursor: default;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #4E4E4E;
}
header h1 div#cube div.side.cube_front {
  transform: translateZ(25px);
}
header h1 div#cube div.side.cube_back {
  transform: translateZ(-25px) rotateY(180deg);
}
header h1 div#cube div.side.cube_right {
  transform: translateX(25px) rotateY(90deg);
}
header h1 div#cube div.side.cube_left {
  transform: translateX(-25px) rotateY(-90deg);
}
header h1 div#cube div.side.cube_top {
  background-color: rgb(213, 213, 213);
  transform: translateY(25px) rotateX(90deg);
}
header h1 div#cube div.side.cube_bottom {
  background-color: rgb(213, 213, 213);
  transform: translateY(-25px) rotateX(90deg);
}
header svg {
  cursor: pointer;
}
header nav#menu-nav {
  border-bottom: 2px white solid;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: translateX(100vw);
  padding: 5px;
  background-color: #4E4E4E;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  font-size: 1.4rem;
  transition: 0.6s ease-in-out;
}
header nav#menu-nav.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
header nav#menu-nav ul li {
  padding: 4px 0;
  transition: ease-in-out 0.4s;
}
header nav#menu-nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  transition: ease-in-out 0.4s;
}
header nav#menu-nav ul li a:visited {
  color: #fff;
  text-decoration: none;
}
header nav#menu-nav ul li:hover {
  color: #4E4E4E;
  background-color: #fff;
  transform: scale(1.1);
}
header nav#menu-nav ul li:hover a {
  color: #4E4E4E;
}

/*Présentation page*/
main section#presentation {
  background-color: #4E4E4E;
  padding: 10px;
}
main section#presentation p, main section#presentation h2, main section#presentation h3 {
  padding: 10px;
}
main section#presentation article#techno div#techno-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
}
main section#presentation article#techno div#techno-grid svg {
  fill: #fff;
}
main section#career {
  padding: 10px;
}
main section#career p, main section#career h2, main section#career h3 {
  padding: 10px;
}
main section#career div {
  display: flex;
  justify-content: center;
}
main section#career div ul#career-list {
  position: relative;
}
main section#career div ul#career-list::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5.2%;
  z-index: -1;
  width: 3px;
  height: 100%;
  background-color: #fff;
}
main section#career div ul#career-list li.career-item {
  display: flex;
  padding: 10px 0;
}
main section#career div ul#career-list li.career-item::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
}
main section#career div ul#career-list li.career-item ul {
  padding: 0 10px;
}
main section#career div ul#career-list li.career-item ul li:first-child {
  font-weight: bold;
}
main section#projects {
  background-color: #4E4E4E;
  padding: 10px;
}
main section#projects p, main section#projects h2, main section#projects h3 {
  padding: 10px;
}
main section#projects div#projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section#projects div#projects-section div#project-slide {
  width: 300px;
  height: 300px;
  overflow-x: clip;
}
main section#projects div#projects-section div#project-slide div#container-items {
  display: flex;
  width: 100%;
  height: 200px;
  transition: 0.4s ease-in-out;
}
main section#projects div#projects-section div#project-slide div#container-items article img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#projects div#projects-section div#project-slide div#container-items article div.article-desc {
  background-color: #313131;
}
main section#projects div#projects-section div#project-slide div#container-items article div.article-desc p {
  display: flex;
  justify-content: center;
}
main section#projects div#projects-section div#project-slide div#container-items article div.article-desc p.item-tech {
  padding: 2px;
  background-color: #5F5F5F;
}
main section#projects div#projects-section div#project-slide div#slide-btn {
  position: relative;
  bottom: 40%;
  display: flex;
  justify-content: space-between;
}
main section#projects div#projects-section div#project-slide div#slide-btn button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #313131;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.4s ease-in-out;
}
main section#projects div#projects-section div#project-slide div#slide-btn button:hover {
  background-color: #fff;
  color: #313131;
  border: 1px solid #313131;
  transform: scale(1.1);
}

/*Projects page*/
main#main-projects {
  background-color: #4E4E4E;
}
main#main-projects ul#projects-grid {
  display: grid;
  grid-template-columns: 1fr;
}
main#main-projects ul#projects-grid li {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#main-projects ul#projects-grid li div.article-desc {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
main#main-projects ul#projects-grid li div.article-desc p.item-tech {
  padding: 5px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #5F5F5F;
}
main#main-projects ul#projects-grid li div.article-desc p.item-desc {
  background-color: #313131;
  padding: 10px;
}
main#main-projects ul#projects-grid li img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 70%;
  border: 4px white solide;
}

/*Projects page*/
main#main-contact {
  background-color: #4E4E4E;
}
main#main-contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#main-contact form input {
  width: 80vw;
}
main#main-contact form textarea {
  width: 80vw;
}
main#main-contact form button {
  padding: 5px 10px;
  border: none;
  color: #fff;
  background-color: #5076FF;
}/*# sourceMappingURL=style.css.map */