
@media (max-width : 1160px) {
    .suggestion {
        display: none;
    }
}

.suggestion {
    width: 319px;

    padding-top: 30px;

    font-size: 14px;
}

.user-suggestion-profil {
    margin: 10px 0;
}

.user-suggestion-profil,
.suggestion-title,
.friend-suggestion-profil {
    display: flex;

    align-items: center;
}

.profil-img-content {
    width: 56px;
    height: 56px;

    margin-right: 7px;

    border-radius: 100%;
    cursor: pointer;
}

.suggestion-name {
    flex: 1;

    padding: 0 10px;
    line-height: 18px;

    font-size: 13px;
}

.suggestion-name p:nth-child(1) {
    font-weight: bold;

    display: inline;
    cursor: pointer;
}

.suggestion-name p:nth-child(2) {
    color: rgb(80, 80, 80);
}

.suggestion-option,
.suggestion-option-basculer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 12px;
    font-weight: bold;

    color: #0095F6;

    cursor: pointer;
}

.suggestion-option:hover {
    color: #004b7d;
}

.suggestion-title {
    padding: 4px;
}

.suggestion-title p:nth-child(1){
    flex: 1;

    color: rgb(118, 118, 118);
    font-weight: bold;
    font-size: 13px;
}

.suggestion-title p:nth-child(2){
    font-weight: bold;
    font-size: 11px;

    cursor: pointer;
}

.suggestion-title p:nth-child(2):hover{
    color: #C7C7C7;
}

.friend-suggestion-content {
    padding: 8px 0;
}

.friend-suggestion-profil {
    padding: 8px 6px;
}

.friend-img-content {
    width: 46px;
    height: 42px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 100%;

    cursor: pointer;
}

.friend-img {
    width: 32px;
    height: 32px;

    border-radius: 100%;
}

.suggestion-name-friend {
    flex: 1;

    line-height: 19px;

    white-space: nowrap;
    overflow: hidden;
}

.suggestion-name-friend p:nth-child(1){
    font-size: 14px;
    font-weight: bold;

    cursor: pointer;
    display: inline;
}

.suggestion-name-friend p:nth-child(2){
    font-size: 12px;
    color: rgb(89, 89, 89);

    overflow: hidden;
    text-overflow: ellipsis;
}

.mention-legal {
    padding: 10px;
    
    line-height: 20px;
}

.mention-legal p{
    margin-bottom: 16px ;
}

.mention-legal a:link{
    text-decoration: none;
}

.mention-legal a:hover{
    text-decoration: underline;
}

.mention-legal, 
.mention-legal a{
    color: #C7C7C7;
    font-size: 11px;
}