.about-container {
    margin-top: 70px;

    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 50px;
}

.about-img-container {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-title {
    font-weight: bold;
}

.about-description {
    font-size: 20px;
    color: gray;
}

.about-title {
    margin-top: 30px;
}

.about-description {
    margin-top: 25px;
}