.for-you-scroll {
    position: fixed;
    right: 0;
    left: 208px;
    top: 60px;

    display: flex;

    padding: 15px 0 15px 25px;

    max-width: 100%;
    white-space: nowrap;

    background-color: white;
    z-index: 200;
}

@media (max-width: 790px) {
    .for-you-scroll {
        left: 8px;
    }
}

@media (min-width: 791px) and (max-width: 1312px) {
    .for-you-scroll {
        left: 72px;
    }
}

@media (min-width : 1313px) {
    .for-you-scroll {
        left: 208px;
    }
}

.fy-section {
    background-color: rgb(225, 225, 225);

    padding: 5px 9px;
    margin-right: 13px;
    border-radius: 5px;

    cursor: pointer;
}

.fy-section:hover {
    background-color: rgb(199, 199, 199);
}

.fy-section-next {
    position: fixed;
    right: 0;
    top: 60px;
    z-index: 201;

    display: flex;
    align-items: center;
}

.fy-fade {
    height: 57px;
    width: 50px;
    background: linear-gradient(to left, white 20%, rgba(255, 255, 255, 0) 80%);
}

.fy-next-container {
    position: relative;

    background-color: white;
}

.fy-next-icon {
    height: 20px;
}

.fy-next {
    cursor: pointer;
    padding: 8px 11px;
    margin: 8px;

    border-radius: 20px;
}

.fy-next:hover {
    background-color: rgb(199, 199, 199);
}

.fy-next-container p {
    font-size: 13px;
    color: white;
    background-color: rgba(73, 73, 73, 0.8);

    padding: 8px 7px;
    border-radius: 4px;

    position: absolute;
    bottom: -30px;
    right: 10px;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.fy-next-container:hover p {
    opacity: 1;
}