.header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0px 20px 0px 20px;
    background-color: white;
    z-index: 400;
}

.right-section,
.left-section,
.connection,
.search-btn,
.parametre-all,
.hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil-icon,
.parametre,
.search-icon {
    height: 20px;
    margin-right: 5px;
}

.menu,
.youtube-logo-all,
.search-btn,
.parametre,
.connection {
    cursor: pointer;
}

.youtube-logo-all {
    display: flex;

    position: relative;
}

.youtube-logo {
    height: 20px;
}

.lg-youtube {
    font-size: 8px;

    position: absolute;
    top: -13px;
    right: -13px;
}

.hamburger-menu {
    margin-right: 15px;

    position: relative;
}

.selector-menu {
    position: absolute;

    width: 40px;
    height: 40px;
    background-color: rgb(218, 218, 218);
    border-radius: 24px;

    z-index: -1;

    opacity: 0;
}

.hamburger-menu:hover .selector-menu {
    opacity: 1;
}

.menu {
    height: 25px;
}

.center-section {
    display: flex;
    flex: 1;
    max-width: 700px;
    margin: 0px 30px;
}

.search-bar,
.search-btn {
    border: 1px solid lightgray;
}

.search-bar {
    flex: 1;
    width: 0;
    height: 20px;

    font-size: 15px;

    border-radius: 20px 0px 0px 20px;
    padding: 6px 0px 6px 13px;
}

.search-btn {
    position: relative;

    padding: 2px 9px 2px 13px;

    border-left: none;
    border-radius: 0px 20px 20px 0px;
}

.search-btn p,
.parametre-all p {
    font-size: 11px;
    color: white;
    background-color: rgba(73, 73, 73, 0.8);

    padding: 7px 4px;
    border-radius: 4px;

    position: absolute;
    bottom: -45px;

    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
}

.search-btn:hover p,
.parametre-all:hover p {
    opacity: 1;
}

.parametre-all {
    position: relative;
}

.connection {
    font-size: 13px;
    color: blue;

    border: 1px solid lightgray;
    border-radius: 18px;

    padding: 3px 8px 3px 3px;
}

.connection:hover {
    border-color: rgba(0, 0, 240, 0.2);
    background-color: rgba(0, 0, 240, 0.1);
}

.profil-icon {
    filter: invert(8%) sepia(100%) saturate(7482%) hue-rotate(248deg) brightness(96%) contrast(143%);
}

@media (max-width : 656px) {
    .center-section { 
        margin: 0;
    }

    .search-bar {
        display: none;
    }

    .search-btn {
        border: none;
        background-color: white;

        margin-right: 0;
        margin-left: auto;
    }
}