.rps-body {
    background-color: rgb(26, 26, 26);

    color: white;
}

.title {
    font-weight: bold;
    font-size: 30px;
}

.game-btn {
    cursor: pointer;

    width: 130px;
    height: 130px;

    background-color: transparent;
    padding: 15px;

    border-radius: 100%;
    border: 3px white solid;

    margin: 8px;

    overflow: hidden;
}

.game-img {
    width: 70px;
    height: 70px;
}

.result-title {
    font-size: 25px;

    font-weight: bold;

    margin-top: 15px;
}

.js-moves {
    margin-bottom: 50px;
}

.reset-btn,
.auto-play-btn,
.js-confirmation {
    margin-top: 50px;
    padding: 12px;
    border: none;
    cursor: pointer;
}